<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>this is rendered by an html file</p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos non officia
    pariatur ea cumque. Consequuntur quas dolor fuga, necessitatibus id tempora
    reiciendis ratione, rem dolorum, eos aperiam error quasi voluptatem! Sequi,
    cumque illo! Animi minus suscipit expedita placeat quas nemo dicta quasi.
    Qui, minus omnis.
    <p><b>this is a dynamic vriable {{ vary }}</b></p>
    
  </body>
</html>
